{% extends 'layouts/base_test.html' %}

{% block body %}


<br>
<br>
<h1>Get in contact with your consultant</h1>
<h2>Consultant: Federico Arroyo</h2>
<hr/>
<p>
  <img class="img-fluid rounded" src="{{ url_for('static', filename='images/Proffesional.jpg') }}"
   width="200" height="300" alt="">
   <ul>
     <li>E-mail: Faarroyo@ucsd.edu</li>
     <li>Phone: (619)638-9966</li>
     <li>Address: 3500 W Olive Ave #600, Burbank, CA 91505 </li>
   </ul>
</p>
<hr/>
<br>
{%endblock%}
